.header h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(assets/pattern.jpg);
}
.brushes h2{
color: white;
background-color: mediumspringgreen;
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
}
.frames h2{
color: white;
background-color: lightcoral;
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
}
.paint h2{
color: white;
background-color: skyblue;
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
}
